<font SIZE=4 color=#E61313>
<b>
5 - ECOLE ST JEAN
</b>
</font>
<br>
Inscrits: 1108
<br>
Votants: 539
<br>
Blancs: 5
<br>
Nuls: 5
<br>
Exprim&eacute;s: 529
<br>
<table border=1  width=290 cellpadding=2 cellspacing=0 bordercolor=#395683 style='font-size:10pt;font-weight: bold;color: #000066'>
<tr>
<td valign=middle align=left bgcolor=#C7DCFC>
Candidats
</td>
<td valign=middle align=right bgcolor=#C7DCFC>
Voix
</td>
<td valign=middle align=right bgcolor=#C7DCFC>
%
</td>
</tr>
<tr>
<td valign=middle align=left>
CHAUVIN Pascal
</td><td valign=middle align=right>
184
</td><td valign=middle align=right>
34.78%
</td></tr>
<tr>
<td valign=middle align=left>
FERAUD Jean-Claude
</td><td valign=middle align=right>
149
</td><td valign=middle align=right>
28.17%
</td></tr>
<tr>
<td valign=middle align=left>
FAYOLLE-SANNA Stéphanie
</td><td valign=middle align=right>
196
</td><td valign=middle align=right>
37.05%
</td></tr>
</table>
