<font SIZE=4 color=#E61313>
<b>
6 - ECOLE MATERNELLE SAINT JEAN
</b>
</font>
<br>
Inscrits: 1159
<br>
Votants: 562
<br>
Blancs: 10
<br>
Nuls: 11
<br>
Exprim&eacute;s: 541
<br>
<table border=1  width=290 cellpadding=2 cellspacing=0 bordercolor=#395683 style='font-size:10pt;font-weight: bold;color: #000066'>
<tr>
<td valign=middle align=left bgcolor=#C7DCFC>
Candidats
</td>
<td valign=middle align=right bgcolor=#C7DCFC>
Voix
</td>
<td valign=middle align=right bgcolor=#C7DCFC>
%
</td>
</tr>
<tr>
<td valign=middle align=left>
CHAUVIN Pascal
</td><td valign=middle align=right>
206
</td><td valign=middle align=right>
38.08%
</td></tr>
<tr>
<td valign=middle align=left>
FERAUD Jean-Claude
</td><td valign=middle align=right>
143
</td><td valign=middle align=right>
26.43%
</td></tr>
<tr>
<td valign=middle align=left>
FAYOLLE-SANNA Stéphanie
</td><td valign=middle align=right>
192
</td><td valign=middle align=right>
35.49%
</td></tr>
</table>
