<font SIZE=4 color=#E61313>
<b>
7 - ECOLE MATERNELLE LES COLOMBES
</b>
</font>
<br>
Inscrits: 1000
<br>
Votants: 513
<br>
Blancs: 6
<br>
Nuls: 20
<br>
Exprim&eacute;s: 487
<br>
<table border=1  width=290 cellpadding=2 cellspacing=0 bordercolor=#395683 style='font-size:10pt;font-weight: bold;color: #000066'>
<tr>
<td valign=middle align=left bgcolor=#C7DCFC>
Candidats
</td>
<td valign=middle align=right bgcolor=#C7DCFC>
Voix
</td>
<td valign=middle align=right bgcolor=#C7DCFC>
%
</td>
</tr>
<tr>
<td valign=middle align=left>
CHAUVIN Pascal
</td><td valign=middle align=right>
219
</td><td valign=middle align=right>
44.97%
</td></tr>
<tr>
<td valign=middle align=left>
FERAUD Jean-Claude
</td><td valign=middle align=right>
168
</td><td valign=middle align=right>
34.50%
</td></tr>
<tr>
<td valign=middle align=left>
FAYOLLE-SANNA Stéphanie
</td><td valign=middle align=right>
100
</td><td valign=middle align=right>
20.53%
</td></tr>
</table>
