/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* On ne fixe pas la hauteur du header */
.navbar-brand {
  height: inherit;
}

.container .credit {
  margin: 20px 0;
}

.tab-content {
  padding-top: 10px;
}

.page-header {
    margin-top: 20px;
}

div.plan {
  position: relative;
}

div.plan span.bureau {
  position: absolute;
}

table.table-resultats td.candidat-liste {
  text-transform: uppercase;
}

td.candidat-liste-voix {
  min-width: 60px;
}