.sidebar {
  display: none;
}

body {
  padding-top: 50px;
  background-color: #eeeeee;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li > span {
  color: #FFFFFF;
  font-weight: bold;
}

.navbar-nav > li > span {
  line-height: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 15px;
}

.navbar-nav > li > span {
    display: block;
    position: relative;
}

.main {
  padding-top: 10px;
  font-size: 12px;
}

.box {
  /*padding: 10px;*/
  border: 1px solid #cccccc;
  background: white;
  display: block;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.055);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.055);
  margin-bottom: 10px;
}
@media (min-width: 768px) {
.sidebar {
  font-size: 12px;
  position: fixed;
  top: 51px;
  bottom: 0;
  right:0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-left: 1px solid #E5E5E5;
  height: 100%;
}
.sidebar-left {
  font-size: 12px;
  position: fixed;
  top: 51px;
  bottom: 0;
  left:0;
  z-index: 1000;
  display: block;
  padding: 20px;
  margin-right: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #E5E5E5;
  height: 100%;
}
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px;  /*20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  margin-top: -20px;
}
.nav-sidebar > li {
  white-space: nowrap;
  color:#C8C8C8;
  text-transform : uppercase;
}
.nav-sidebar > li > a {
  padding: 0;
}
.nav-sidebar > li > span.glyphicon,
.nav-sidebar > li > a > span.glyphicon {
  padding-left: 3px;
}
.nav-sidebar > .active > a {
  background-color: #428bca;
  color: #fff;
}

.nav-list > li > a, .nav-list .nav-header {
    margin-left: -15px;
    margin-right: -15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav-sidebar > li.nav-header {
  background-color: #f5f5f5;
  z-index: 9999;
  position: relative;
  color: #999999;
  display: block;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  padding: 10px 15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  border-bottom: 1px solid #cdcdcd;
}

.bloc-bureau {
  padding-left: 0;
  padding-right: 0;
}
.bloc-bureau div.panel {
  margin-right: 15px;
  background-color: #f5f5f5;
}
.bloc-bureau-8 div.panel {
  background-color: #f5f5f5;
}
.bloc-bureau-centre {
  padding-left: 0;
  padding-right: 0;
}
.bloc-bureau-centre div.panel {
  margin-left: 15px;
  background-color: #f5f5f5;
}

img.photo-candidat {

  margin-right: 2px;
}

table.resultats-chiffres,
table.resultats-resultats {
  margin: 0;
}

table.resultats-resultats tr td {
  vertical-align: middle;
}

/**
 * GESTION DU LISTING DES ENTITES (BUREAUX DE VOTES OU COMMUNES)
 */

ul.nav-sidebar {
  margin-bottom: 50px;
}

.nav-sidebar > li > a {
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-sidebar > li.active > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-sidebar > li.wait {
  padding-top: 10px;
  padding-bottom: 10px;
}

ul.nav-sidebar.entite-entre-10-19 > li > a,
ul.nav-sidebar.entite-entre-10-19 > li.wait,
ul.nav-sidebar.entite-entre-20-29 > li > a,
ul.nav-sidebar.entite-entre-20-29 > li.wait {
  padding-top: 8px ;
  padding-bottom: 8px;
}
ul.nav-sidebar.entite-entre-30-39 > li > a,
ul.nav-sidebar.entite-entre-30-39 > li.wait,
ul.nav-sidebar.entite-entre-40-49 > li > a,
ul.nav-sidebar.entite-entre-40-49 > li.wait,
ul.nav-sidebar.entite-entre-50-59 > li > a,
ul.nav-sidebar.entite-entre-50-59 > li.wait {
  padding-top: 0px;
  padding-bottom: 0px;
}
/* 
  FIN GESTION DES BUREAUX DE VOTES 
*/



/**
 * GESTION DU GRAPHIQUE
 */

/* Cache le graphique et le badge à partir de 20 candidats */
.candidats-20 .container-chart, .candidats-20 .color-chart,
.candidats-21 .container-chart, .candidats-21 .color-chart,
.candidats-22 .container-chart, .candidats-22 .color-chart,
.candidats-23 .container-chart, .candidats-23 .color-chart,
.candidats-24 .container-chart, .candidats-24 .color-chart,
.candidats-25 .container-chart, .candidats-25 .color-chart,
.candidats-26 .container-chart, .candidats-26 .color-chart,
.candidats-27 .container-chart, .candidats-27 .color-chart,
.candidats-28 .container-chart, .candidats-28 .color-chart,
.candidats-29 .container-chart, .candidats-29 .color-chart,
.candidats-30 .container-chart, .candidats-30 .color-chart,
.candidats-31 .container-chart, .candidats-31 .color-chart
{
  display: none;
}

/* Pour les écran ayant au maximum 800px en hauteur */
@media (max-height:800px) {
  /* Cache le graphique et le badge à partir de 15 candidats */
  .candidats-15 .container-chart, .candidats-15 .color-chart,
  .candidats-16 .container-chart, .candidats-16 .color-chart,
  .candidats-17 .container-chart, .candidats-17 .color-chart,
  .candidats-18 .container-chart, .candidats-18 .color-chart,
  .candidats-19 .container-chart, .candidats-19 .color-chart
  {
    display: none;
  }
}

/**
 * GESTION DES TABLEAUX DE RESULTATS
 */

/* Pour les écrans ayant une hauteur maximum 720px en hauteur */
@media (max-height: 720px) {
  /* HAUTEUR DES LIGNES DU TABLEAU DES RESULTATS */
  /* de 15 à 23 candidats */
  div.resultats.candidats-15 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-16 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-17 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-18 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-19 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-20 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-21 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-22 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-23 table.resultats-resultats tr.resultats_ligne td {
      padding-top: 2px;
      padding-bottom: 2px;
  }
  /* de 24 à 31 candidats */
  div.resultats.candidats-24 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-24 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-25 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-25 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-26 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-26 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-27 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-27 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-28 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-28 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-29 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-29 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-30 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-30 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-31 table.resultats-resultats tr.resultats_ligne td, 
  div.resultats.candidats-31 table.resultats-resultats tr.resultat_titre th {
      padding-top: 0px;
      padding-bottom: 0px;
  }
  /* HAUTEUR DU BLOC DE CHIFFRES GENERAUX SUR L'ENTITE */
  /* de 29 à 31 candidats */
  div.resultats.candidats-29 div.panel-body,
  div.resultats.candidats-30 div.panel-body,
  div.resultats.candidats-31 div.panel-body {
      padding-top: 0px;
      padding-bottom: 0px;
  }
}

/* Pour les écrans ayant entre 721px et 768px en hauteur */
@media (min-height:721px) and (max-height: 768px) {
  /* HAUTEUR DES LIGNES */
  div.resultats.candidats-15 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-16 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-17 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-18 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-19 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-20 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-21 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-22 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-23 table.resultats-resultats tr.resultats_ligne td {
      padding-top: 3px;
      padding-bottom: 3px;
  }
  /* de 24 à 31 candidats */
  div.resultats.candidats-24 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-24 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-25 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-25 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-26 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-26 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-27 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-27 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-28 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-28 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-29 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-29 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-30 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-30 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-31 table.resultats-resultats tr.resultats_ligne td, 
  div.resultats.candidats-31 table.resultats-resultats tr.resultat_titre th {
      padding-top: 0px;
      padding-bottom: 0px;
  }
  /* HAUTEUR DU BLOC DE CHIFFRES GENERAUX SUR L'ENTITE */
  /* de 29 à 31 candidats */
  div.resultats.candidats-29 div.panel-body,
  div.resultats.candidats-30 div.panel-body,
  div.resultats.candidats-31 div.panel-body {
      padding-top: 5px;
      padding-bottom: 5px;
  }
}

/* Pour les écrans ayant entre 769px et 900px en hauteur */
@media (min-height:769px) and (max-height: 900px) {
  /* HAUTEUR DES LIGNES */
  div.resultats.candidats-15 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-16 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-17 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-18 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-19 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-20 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-21 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-22 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-23 table.resultats-resultats tr.resultats_ligne td {
      padding-top: 3px;
      padding-bottom: 3px;
  }
  /* de 24 à 31 candidats */
  div.resultats.candidats-24 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-24 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-25 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-25 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-26 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-26 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-27 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-27 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-28 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-28 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-29 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-29 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-30 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-30 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-31 table.resultats-resultats tr.resultats_ligne td, 
  div.resultats.candidats-31 table.resultats-resultats tr.resultat_titre th {
      padding-top: 0px;
      padding-bottom: 1px;
  }
  /* PHOTOS */
  .candidats-15 table.resultats-resultats td.resultats_photo {
    max-width: 25px;
  }
}

/* Pour les écrans ayant entre 769px et 900px en hauteur */
@media (min-height:901px) and (max-height: 1080px) {
  /* HAUTEUR DES LIGNES */
  /* de 15 à 23 candidats */
  div.resultats.candidats-15 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-16 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-17 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-18 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-19 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-20 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-21 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-22 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-23 table.resultats-resultats tr.resultats_ligne td {
      padding-top: 3px;
      padding-bottom: 3px;
  }
  /* de 24 à 31 candidats */
  div.resultats.candidats-24 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-24 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-25 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-25 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-26 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-26 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-27 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-27 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-28 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-28 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-29 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-29 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-30 table.resultats-resultats tr.resultats_ligne td,
  div.resultats.candidats-30 table.resultats-resultats tr.resultat_titre th,
  div.resultats.candidats-31 table.resultats-resultats tr.resultats_ligne td, 
  div.resultats.candidats-31 table.resultats-resultats tr.resultat_titre th {
      padding-top: 2px;
      padding-bottom: 1px;
  }
}
